 #game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
} 

#reset{
  background-color: black;
  color: white;
  width:10%;
  padding:10px;
  border-radius: 25px;
}

#moves{
  text-align: center;
  font-size:30px
}
